<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.quest">

    <queries>
        <provider
            android:authorities="com.facebook.katana.provider.PlatformProvider"
            android:exported="false" /> <!-- allows app to access Facebook app features -->
        <provider
            android:authorities="com.facebook.orca.provider.PlatformProvider"
            android:exported="false" /> <!-- allows sharing to Messenger app -->
    </queries>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MainApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Quest"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ProfileActivity"
            android:screenOrientation="landscape"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".SignupActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".VideoActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog" />
        <activity
            android:name=".QuestDetailsActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".QuestListActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".CompassActivity"
            android:exported="true"
            android:screenOrientation="landscape" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDAij8udxU7bDwXVJYLzAPg7Bkq-qsxCZA" />

        <activity
            android:name=".OnboardActivity"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">

        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Quest" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />
    </application>

</manifest>